@charset "utf-8";

/*
    Rustic Spoon
    Author: Jared Perry
    Date: 1/15/2020  

    Filename: RS_home.css
*/
/* HTML Styles/Layout */

html 
{
	 
	background-color: #FBEEE6;
	font-family: "Playfair Display", "Times New Roman", Georgia, Serif;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	overflow: hidden;
		
}

body
{
	text-align: center;
	color: black;
        overflow-x: hidden;	
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	letter-spacing: 3px;
}

h1, h2, h3, h4, h6
{
	font-family: "Playfair Display", "Times New Roman", Georgia, Serif;
}

/* Add a black background color to the top navigation */
.topnav 
{
    background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a 
{
    float: left;
    font-family: "Playfair Display", "Times New Roman", Georgia, Serif;
    color: black;
    text-align: center;
	letter-spacing: 4px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Add an active class to highlight the current page */
.topnav a.active 
{
    background-color: #EBE7E6;
	
  
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon 
{
    display: none;
}


/* Add a dark background on topnav links*/
.topnav a:hover, .dropbtn 
{
    background-color: #555;
    color: white;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) 
{
    .topnav a:not(:first-child), .dropbtn 
	{
        display: none;
    }
    .topnav a.icon 
	{
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) 
{
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
    .topnav.responsive a 
	{
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive .dropbtn 
	{
        width: 100%;
        text-align: left;
    }
}

.logo 
{
	clear: right;
	display: block;
	width: 30%;
	margin: 2% auto 0% auto;
    border: 2px solid black;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

footer 
{
	position: fixed;
	overflow: hidden;
	height: auto;
    bottom: 0;
    width: 100%;
    background-color: #D5D8DC;
	font-family: "Playfair Display";
	letter-spacing: 2px;
    color: black;
	opacity: 80%;
    text-align: center;
	padding: 15px;
}

.social-icons 
{
    text-align: center;
}  

.social-icons img 
{
    width:18px;
    height:18px;
}
